:markdown
  # Call or Visit

  Whether you’re coming in for chops, charcoal or a friendly chat, we always look forward to seeing familiar faces and meeting new friends. We’re located in Northeast Portland, Oregon.

  Street Address
  7450 NE Killingsworth Street
  Portland, Oregon 97218
  Phone: 503-252-7801

  Email Us
  staff@gartnersmeats.com

  Store Hours
  Tuesday through Saturday
  9:00 AM – 6:00 PM
  Sundays 10:00 AM – 4:00 PM
  CLOSED Mondays

  Holiday Hours 2021

  April 4 – Easter Sunday            Closed 

  May 31 – Memorial Day            Closed     

  July 4 – Independence Day      Closed 

  September 6 – Labor Day          Closed

  November 25 – Thanksgiving Day Closed

  December 24 – Christmas Eve   Open 9:00 – 3:00

  December 25 – Christmas Day  Closed

  December 26 –                              Closed

  December 31 – New Years Eve  Open 9:00 – 4:00

  January 1 – New Years              Closed
