#carouselExampleControls.carousel.slide{:data => { "bs-ride" => "carousel"} }
  .carousel-inner
    .carousel-item.active
      %img.d-block.w-100{:alt => "...", :src => "#{image_path('slide-1.png')}"}/
    .carousel-item
      %img.d-block.w-100{:alt => "...", :src => "#{image_path('slide-2.png')}"}/
    .carousel-item
      %img.d-block.w-100{:alt => "...", :src => "#{image_path('slide-3.png')}"}/
  %button.carousel-control-prev{"data-bs-slide" => "prev", "data-bs-target" => "#carouselExampleControls", :type => "button"}
    %span.carousel-control-prev-icon{"aria-hidden" => "true"}
    %span.visually-hidden Previous
  %button.carousel-control-next{"data-bs-slide" => "next", "data-bs-target" => "#carouselExampleControls", :type => "button"}
    %span.carousel-control-next-icon{"aria-hidden" => "true"}
    %span.visually-hidden Next
.container.text-center
  :markdown
    # Family-run, farm-fresh, hand-cut quality

    In 1959, Jack Gartner opened a small meat market with a 
    simple business plan - make people happy and they'll keep coming back. 
    Today, Gartner's Country Meat Market is Portland's favorite family-run 
    source for fresh-cut steaks, chops, ribs and roasts, handcrafted sausages,
    ham, bacon and a whole lot more. We sell happiness by the pound - and we 
    never forget what Jack taught us: People come for what's inside the case. 
    They come back for the service behind the counter. [See our FAQ page](/faq).

    ## Hours

    Tuesday through Saturday 9:00 AM – 6:00 PM
    
    Sundays 10:00 AM – 4:00 PM
    
    Closed Mondays

