nav.prenav
  background-color: #8d7249

nav.primary-nav
  // max-height: 10em
  .logo
    width: 157px
    // padding: 0 1em
    margin: 0 1em
    position: relative
    top: -45px
    img
      position: absolute
  // .logo
  .logo.d-sm-none
    z-index: 100
    top: -20px
    margin: 0 auto
    padding: 0

  #navbarNav
    z-index: 110
    ul
      background: $light

.dropdown-custom
  left: -29px
