%nav.primary-nav.navbar.navbar-expand-md.navbar-dark.bg-dark
  %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    %ul.navbar-nav.mx-auto
      %li.nav-item.active
        %a.nav-link{:href => "/"}
          Home
      %li.nav-item
        %a.nav-link{:href => "/about"} Our Story
      %li.nav-item
        %a.nav-link{:href => "/blog"} Our Blog
      %li.nav-item
        %a.nav-link{:href => "/products"} Products
      %li.nav-item
        %a.nav-link{:href => "/services"} Services
      %li.nav-item
        %a.nav-link{:href => "/call-or-visit"} Call or Visit
      %li.nav-item
        %a.nav-link{:href => "/faq"} FAQ

.bg-dark.text-light.text-center
  .container
    %p
      Tuesday through Saturday 9:00 AM – 6:00 PM
    %p
      Sundays 10:00 AM – 4:00 PM
    %p
      CLOSED Mondays
    %p
      503-252-7801
    %p
      Find us on Facebook
