%nav.prenav.navbar.text-end
  %span.nav-item
    %a.nav-link{:href => "/call-or-visit"} 503-252-7801
  %a.nav-link.prenav-trigger{"aria-controls" => "navbarPreNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarPreNav", "data-bs-toggle" => "collapse", :type => "button"}
    Online Orders
  #navbarPreNav.collapse.navbar-collapse
    %ul.navbar-nav
      %li.nav-item
        %a.nav-link{:href => "#"} Curbside Pickup
      %li.nav-item
        %a.nav-link{:href => "#"} Gift Cards
      %li.nav-item
        %a.nav-link{:href => "#"} Gift Card Cart
%nav.primary-nav.navbar.navbar-expand-md.navbar-light.bg-light
  -# %a.navbar-brand{:href => "#"} Navbar
  %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarNav", "data-bs-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  .logo.d-sm-none
    = link_to image_tag('logo.png'), root_path 
  #navbarNav.collapse.navbar-collapse
    %ul.navbar-nav.mx-auto.bg-light
      %li.nav-item.active
        %a.nav-link{:href => "/"}
          Home
      %li.nav-item
        %a.nav-link{:href => "/about"} Our Story
      %li.nav-item
        %a.nav-link{:href => "/blog"} Blog
      %li.nav-item
        .logo.d-none.d-sm-block
          = link_to image_tag('logo.png'), root_path 
      %li.nav-item
        %a.nav-link{:href => "/products"} Products
      %li.nav-item
        %a.nav-link{:href => "/services"} Services
      %li.nav-item
        %a.nav-link{:href => "/call-or-visit"} Call or Visit
